<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" href="css/style.css" type="text/css">
  <title>Style Selector</title>
 </head>
 <body>
   <center>
     <br><br><br><br><br>
     <div id= "rectangle">
       <br><br>
     <img src = "https://scontent.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/11141343_518501174973348_2489322929517876877_n.jpg?oh=5d83e056626c06783bc2907c458ea33d&oe=560F1D2F" height="210px" width="640px">
     
  
  <p><link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Walter+Turncoat" /> Where will your day be spent?
   <form action="/inside" method="POST">
   <button class= "floated" type="Submit" value="Submit">Inside <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Walter+Turncoat" /></button>
       </form>
   <form action = "/outside" method = "POST">
  <button type="Submit" value="Submit">Outside <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Walter+Turncoat" /></button>  
</form>
       </p>
       
       
   
  
   </div>
   </center>
 </body>
</html>