<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" href="css/dropdown.css" type="text/css">
  <title>Style Selector</title>
 </head>
 <body>
   <center>
      <br><br><br><br><br><br><br><br><br>
     
   
  
   <div id = "rectangle">
       <h1><link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Walter+Turncoat" /> What is your day like?</h1>
     
     
   <p> <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Walter+Turncoat" /> Activity:  
   
  <select name="activity" form="Actform" >
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Walter+Turncoat" />  
    <option value = " ------- "> -------- </option>
    <option value="Shopping">Shopping</option>
    <option value="Work or School">Work or School</option>
    <option value="Church">Church</option>
    <option value="Party">Party</option>
    <option value="Lazy Day">Lazy Day</option>
    </select>
   
     <br>
     
     Condition:
     
   <select name = "condition" form= "Actform">
       <option value = " ------- "> -------- </option>
     <option value="Sunny"> Sunny </option>
     <option value = "Raining"> Raining </option>
     <option value ="Snowing"> Snowing </option>
   </select>
     
     <br>
     
     Temperature(°F):
     
   <select name= "degrees" form = "Actform">
       <option value = " ------- "> -------- </option>
     <option value = "below 32"> Below 32 </option>
     <option value = "32-59">32-59</option>
     <option value = "60-79">60-79</option>
     <option value = "80+">80+</option>
   </select>
     
     <br>
     Style:
   
   <select name= "style" form = "Actform">
       <option value = " ------- "> -------- </option>
     <option value = "bohemian"> Bohemian </option>
     <option value = "preppy">Preppy</option>
     <option value = "sophisticated">Sophisticated</option>
     <option value = "flashy">Flashy</option>
   </select>
     
     
     <br>

   
   
   <form id="Actform"  method="POST" action="/insideresult">
<button type="Submit" value="Submit">Submit <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Walter+Turncoat" /></button>
   </form>
     </form>
  <br>
   <br>
     
     
 </div>
   </p>
   
   </center>
   </body>
</html>