<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Style Selector</title>
   <link rel = "stylesheet" href = "css/my_outfit.css" type = "text/css">
 </head>
 <body>

   <br><br><br><br>
   <center>
   <h1><link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pinyon+Script" /> Your Outfit for the Day!</h1>
      <div id = "rectangle">
        <img src = <%=@out_result%>>  
         </div>
   </center>
  
 
 </body>
</html>